    /* body{
        width:960px;
       height:768px;
    } */
    #a{
        height: 100px;
        width: 960px;
    }
    #b{
        width: 200px;
        height: 600px;
        float: left;

     
    }

    .perant{
        width: 960px;
    }

    .cd{
        float: left;
        width: 380px;
        height: 200px;
    }
    .efGh{
        float: right;
        width: 190px;
        height: 250px;
    }
    .perant2{
        float: left;

    }
    #idiv{
        float: left;
        width: 760px;
        height: 150px;
        background-color: brown;
    }

@media (max-width:480px) and (max-height:767px){
    body{
        max-width:480px;
       max-height:767px;
       text-align: center;
      
     }
     #a{
        height: 75px;
        width: 480px;
    }
    #b{
        width:480px;
        height: 150px;
      
    }
    
    #c{
        width:480px;
        height: 125px;
    }
    #d{
        width:480px;
        height: 125px;
    }
    #e,#f,#g,#h {
        width:240px;
        height: 250px;
        float: left;

    }
    #idiv{
        clear: both;
        width:480px;
        height: 80px;
    }

}